<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-question-heading"
        data-cy="QuestionCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.question.home.createOrEditLabel"
      >
        Create or edit a Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.question.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.question.subType" for="field_subType"
            >Sub Type</label
          >
          <input type="text" class="form-control" name="subType" id="field_subType" data-cy="subType" formControlName="subType" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.question.sno" for="field_sno">Sno</label>
          <input type="number" class="form-control" name="sno" id="field_sno" data-cy="sno" formControlName="sno" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.question.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.question.annexure" for="field_annexure"
            >Annexure</label
          >
          <select class="form-control" id="field_annexure" data-cy="annexure" name="annexure" formControlName="annexure">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="annexureOption.id === editForm.get('annexure')!.value?.id ? editForm.get('annexure')!.value : annexureOption"
              *ngFor="let annexureOption of annexuresSharedCollection; trackBy: trackAnnexureById"
            >
              {{ annexureOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
